.footer {
  border-top: 1.5px solid #eee;

  .footer-section {
    padding-block: 6.4rem;
  }

  .nav-col {
    @include respond(smaller-tablets) {
      grid-row: 1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
      justify-self: center;
    }
  }

  .footer-info,
  .footer-newsletter {
    @include respond(smaller-tablets) {
      grid-column: span 3;
      grid-row: 2;
    }
  }

  .footer-logo {
    margin-bottom: 1.2rem;
  }

  .footer-info-text,
  .footer-newsletter-text {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    color: $colo-gray--2;

    @include respond(tablets) {
      font-size: 1.2rem;
    }
  }

  .footer-heading {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
  }

  .footer-nav {
    list-style: none;

    :not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: inherit;
    font-weight: 500;

    @include respond(tablets) {
      font-size: 1.4rem;
    }
  }

  .footer-link:hover,
  .footer-link:active {
    color: $colo-gray--1;
  }

  .footer-form {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.2rem;
    gap: 0.2rem;
  }

  .footer-form input {
    width: 100%;
    border: none;
    background-color: $color-white-2;
    padding: 1.2rem;
    border-radius: 3px;
    transition: all 0.3s;
    font-size: 1.6rem;

    // @include respond(mini-tablets) {
    //   padding: 0.6rem 1.2rem;
    // }
  }

  .footer-form input:hover {
    box-shadow: 0 1.8px 3.6px rgba($color-black, 0.1);
  }

  .footer--copyright {
    padding-block: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 500;
    border-top: 1.5px solid #eee;

    @include respond(tablets) {
      font-size: 1.4rem;
    }
  }

  .terms-privacy {
    display: flex;
    gap: 1.2rem;
  }
}
