@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint == smaller-desktops {
    // Below 1220px
    @media only screen and (max-width: 76em) {
      @content;
    }
  }

  @if $breakpoint == landscape-tablets {
    // Below 1120px
    @media only screen and (max-width: 70em) {
      @content;
    }
  }

  @if $breakpoint == tablets {
    // Below 1018px
    @media only screen and (max-width: 63em) {
      @content;
    }
  }

  @if $breakpoint == smaller-tablets {
    // Below 954px
    @media only screen and (max-width: 59em) {
      @content;
    }
  }

  @if $breakpoint == mini-tablets {
    // Below 756px
    @media only screen and (max-width: 47em) {
      @content;
    }
  }

  @if $breakpoint == phones {
    // Below 520px
    @media only screen and (max-width: 33em) {
      @content;
    }
  }
}
