$color-yellow: #ffdd0f;
$color-blue: #0057fc;
$color-blue--bac: #0753e7;
$color-black: #151419;
$color-red: #ff1f25;
// $colo-gray--1
// $colo-gray--2
// $colo-gray--3
// $colo-gray--4
// $colo-gray--5
