$color-yellow: #ffdd0f;
$color-blue: #0057fc;
$color-blue--2: #339af0;
$color-blue--bac: #0753e7;
$color-black: #151419;
$color-red: #ff1f25;
$color-white: #fff;
$color-white-2: #f9fafc;
$colo-gray--1: #555;
$colo-gray--2: #333;
$colo-gray--3: #666;
// $colo-gray--4
// $colo-gray--5
