.container {
  max-width: 1300rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.center-text {
  text-align: center;
}

.logo {
  text-decoration: none;
  display: flex;
  color: inherit;
  gap: 0.2rem;
}

.logo-text {
  font-size: 3rem;
  font-weight: 700;
}

.logo-icon {
  color: $color-blue;
  font-size: 1.6rem;
  font-weight: 600;
  transform: rotate(-40deg);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 4rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);

  gap: 8.5rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;

  gap: 5rem;
}
