.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.center-text {
  text-align: center;
}

.logo {
  text-decoration: none;
  display: flex;
  color: inherit;
  gap: 0.2rem;
}

.logo-text {
  font-size: 3rem;
  font-weight: 700;
}

.logo-icon {
  color: $color-blue;
  font-size: 1.6rem;
  font-weight: 600;
  transform: rotate(-40deg);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 4rem;

  @include respond(smaller-tablets) {
    gap: 3.2rem;
  }

  @include respond(phones) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);

  gap: 8.5rem;

  @include respond(smaller-tablets) {
    gap: 4.8rem;
  }

  @include respond(phones) {
    grid-template-columns: 1fr;
  }
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);

  @include respond(mini-tablets) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phones) {
    grid-template-columns: 1fr;
  }
}

.grid--5-cols {
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;

  gap: 5rem;

  @include respond(smaller-tablets) {
    grid-template-columns: repeat(6, 1fr);
  }
}
