.section-hero {
  padding: 4.8rem 0 9.6rem 0;

  @include respond(phones) {
    padding: 3.2rem 0 8rem 0;
  }

  .heading-primary span {
    text-decoration: underline 4px solid $color-blue;
  }

  .box {
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(phones) {
      height: 20rem;
    }
  }

  .box-text {
    color: $color-white;
    font-size: 3rem;
    font-weight: 500;
  }

  .box--1 {
    background-color: $color-yellow;
  }

  .box--2 {
    background-color: $color-blue;
  }

  .box--3 {
    background-color: $color-black;
  }

  .box--4 {
    background-color: $color-red;
  }
}

.section-featured {
  padding: 4.8rem 0;
  position: relative;

  @include respond(phones) {
    padding: 3.2rem;
  }

  .heading-featured-in {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2.4rem;
    color: $colo-gray--1;
  }
}

.section-design--previews {
  padding: 9.6rem 0;

  @include respond(phones) {
    padding: 8rem 0;
  }

  .design--previews-img {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    margin-bottom: 0.8rem;
  }

  .design--previews-text {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 0.4rem;
  }

  .view-all {
    padding-block: 3.2rem;
    color: $colo-gray--3;
  }
}

.section-cta {
  padding: 4.8rem 0 9.6rem 0;
  color: $color-white;

  @include respond(phones) {
    padding: 3.2rem 0 8rem 0;
    text-align: center;
  }

  .cta-background {
    height: 40rem;
    background-image: linear-gradient(rgba($color-blue--bac, 0.7)),
      url(/asset/images/cta-background.jpg);
    background-position: center;
    background-size: cover;
  }

  .sub-background {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    :nth-child(1) {
      width: 60%;

      @include respond(phones) {
        width: 100%;
      }
    }
  }

  .cta-btn:link,
  .cta-btn:visited {
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    transition: all 0.4s;
  }

  .cta-btn:hover,
  .cta-btn:active {
    color: $color-blue--2;
    text-decoration: underline;
  }
}

.section-team {
  padding: 9.6rem 0;

  @include respond(phones) {
    padding: 8rem 0;
  }

  .section-team--headtext {
    margin-bottom: 4.8rem;
  }

  .section-team--heads {
    margin-bottom: 12.8rem;
  }

  .team {
    text-align: center;
  }

  .team-img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1.6rem;

    @include respond(phones) {
      width: 70%;
    }
  }

  .team-name {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
